@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: inherit;
}
/*
#root {
  max-width: 100vh;
  background-color: green;
  text-align: center;
  margin: 0 auto;
  padding: 5rem;
}
  */