/server/.venv
/server/.env
/server/secret_key_generator.py

/notes.txt

/.DS_STORE
/server/.DS_STORE
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env
.env
.env.*

# OS
.DS_Store
.github/.DS_Store

# Database backups
*.backup
*.dump
*.sql.gz
